<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <meta name="description" content="Africana AI fetches over 2million jobs daily and empowers African communities with a localized feeds, marketplace, and curated job board connecting talent to Africa-first opportunities.">
    <meta name="keywords" content="Africana AI, African jobs, AI chatbot, local marketplace, Africa careers, digital skills, African innovation">
    <meta name="author" content="Africana AI Team">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Africana AI | Personalized Chatbot, Marketplace & Jobs">
    <meta property="og:description" content="Africana AI fetches over 2million jobs daily empowers African communities with a localized AI chatbot, marketplace, and curated job board for Africa-first opportunities.">
    <meta property="og:image" content="/static/images/africana-ai-preview.png">
    <meta property="og:url" content="https://www.africanaai.info/">
    <meta property="og:type" content="website">

    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>{% block title %}Africana AI | Jobs | Market{% endblock %}</title>

    {% load tailwind_tags %}
    {% tailwind_css %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}

    {% block extra_body %}{% endblock %}
</body>
</html>