Django>=4.2
gunicorn
psycopg2-binary
dj-database-url
whitenoise
django-jazzmin
Pillow
python-dotenv
cloudinary
django-cloudinary-storage
phonenumbers
django-widget-tweaks
google-genai
django-humanize
python-dotenv
whitenoise
python-aliexpress-api