# Framework & Server
Django==5.0.6
gunicorn

# Database (Neon.tech / Postgres)
# Using psycopg[binary] for better cross-platform compatibility
psycopg[binary]

dj-database-url
python-dotenv

# Static Files & Security
whitenoise[brotli]
django-cors-headers
django-tailwind
# Media (Cloudinary)
Pillow
cloudinary
django-cloudinary-storage

# UI & Customization
django-jazzmin
django-widget-tweaks


# Integrations & APIs
python-aliexpress-api
google-genai
google-api-python-client
google-auth
cerebras-cloud-sdk
phonenumbers
requests
python-jobspy

# Required Core (The fix for your Pydantic error)
pydantic
pydantic-core

# NumPy (pre-built wheel for Windows compatibility)
numpy>=1.26.4
weasyprint
