# Framework & Server
Django
gunicorn

# Database (Neon.tech / Postgres)
# Using psycopg[binary] for better cross-platform compatibility
psycopg[binary]

dj-database-url
python-dotenv

# Static Files & Security
whitenoise[brotli]
django-cors-headers

# Media (Cloudinary)
Pillow
cloudinary
django-cloudinary-storage

# UI & Customization
django-jazzmin
django-widget-tweaks

# Integrations & APIs
python-aliexpress-api
google-genai
phonenumbers

# Required Core (The fix for your Pydantic error)
pydantic
pydantic-core